<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Countdown timer app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="cdown.js"></script>
    </head>
    <body>
        <div ng-app="ctdwntimer" ng-controller="ctdwnController">
            <p>enter no. of seconds</p>
            <input type="number" min="0" ng-model="seconds">
            <button type="button" ng-click="setTime(seconds)">Set</button>
            <button type="button" ng-click="stopTimer()">Stop</button>
            <p>Remaining Time: {{remsecs|number:0}}:{{remmillsecs%100}}</p>
            
        </div>
        
    </body>
    
</html>

