<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Countdown timer app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="cdown.js"></script>
    </head>
    <body>
        <div ng-app="ctdwntimer" ng-controller="ctdwnController">
            Countdown timer
            <p>enter no. of seconds</p>
            <input type="number" min="0" ng-model="seconds">
            <input type="number" min="0" max="990" step="10" ng-model="milliseconds">
            <button type="button" ng-click="setTime()">Set</button>
            <button type="button" ng-click="stopTimer()">Stop</button>
            <button type="button" ng-click="resetTimer()">Reset</button>
            <p>Remaining Time: {{remsecs}}:{{remmillisecs%100*10}}</p> 
        </div>
        
        <div ng-app="stopwatch" ng-controller="stopwatchController">
            Stopwatch
            <p>Time:{{mins}}:{{secs}}:{{millisecs}}</p>
            <button type="button" ng-click="startClock()">Start</button>
            <button type="button" ng-click="stopClock()">Stop</button>
        </div>
        
    </body>
    
</html>

