
@import url(https://fonts.googleapis.com/css?family=Roboto:900);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);



body{
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}

#select-component {
    margin-top:20px;
  width:600px;
  height:30px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
    align-items:center;
}
#select-component button {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:19px;
    flex-basis:33%;
    padding:0px;
    padding-top:13px;
    padding-bottom:13px;
    margin:3px;
}

#select-component button:focus {
    border:2px solid black;
}

#select-component .countdown-timer {
    style:none;
    background-color: rgb(128, 255, 0);
}

#select-component .stopwatch {
    style:none;
    background-color: rgb(240,189,15);
}

#select-component .alarm {
    style:none;
    background-color:#3d88dc;
}

#container{
    position:relative;
    height:500px;
    width:500px;
    margin-top:0px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    cursor: pointer;
}

.component{
    top:0px;
    left:0px;
    position:absolute;
    width:500px;
    margin:10px;
    padding-bottom:50px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

.component .controls{
    background-color: inherit;
}

.input,.output,.controls{

    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    margin:5%;
}

.input{

    background-color:white;
}

.controls{
    background-color:red;
}

.output{
    background-color:inherit;
    font-size:20px;
    margin: 10px;
}

.component h2{
    font-size:55px;
    background-color: white;
    width: inherit;
    margin-bottom: 40px;
}

.component h2,p,div{
    text-align: center;
}

button{
    style:none;
    border:none;
}

/*------------Countdown timer-----------------*/

#countdown-timer{
    order:0;
    display:none;
    color:	#80ff00	;
}

#countdown-timer .input #minutes,#countdown-timer .input #seconds,#countdown-timer .input #millisecs{
/*     width:150px; */
    height:100px;
    display:flex;
    flex-flow: row nowrap;
    text-align:center;
    style:none;
    border=10px solid black;
    border-radius:10px;
}

#countdown-timer .input div span{
    padding-right:7px;
}


#countdown-timer .input > div {
    display:flex;
    flex-flow:row nowrap;
    margin:10px;
    margin-bottom:25px;
    font-size:80px;
    height:200px;
}

#countdown-timer .change-set-time {
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
}

#countdown-timer .change-set-time button{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    width:35px;
    height:35px;
    margin-top:5px;
    margin-bottom:5px;

    border-radius:8px;
    background-color: rgba(128, 255, 0, 0.20);
}

#countdown-timer .change-set-time button:hover{
    background-color: rgba(128, 255, 0, 0.7);
}

#countdown-timer .change-set-time button i{
    color: hsl(90, 100%, 40%);
    font-size:18px;
}


#countdown-timer .content{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content:space-around;
    background-color:#80ff00;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;

    box-shadow:7px 7px rgba(128, 255, 0, 0.5);
}

#countdown-timer .content .controls{
    display:flex;
    justify-content:center;
    margin:10px;
    margin-bottom:30px;
}

#countdown-timer .content .controls button{
    font-family: 'Oswald', sans-serif;
    padding:1px;
    padding-left:15px;
    padding-right:15px;
    font-size:28px;
    font-weight:700;
    color:white;
    margin-left:10px;
    margin-right:10px;
    background-color: rgba(255, 255, 255, 0.40);
    border:2px solid rgba(255,255,255,0);
}

#countdown-timer .content .controls button:hover{
    border:2px solid white;
}

#countdown-timer .content p.output.text{
    font-size:18px;
    color:white;
    margin:0px;
}


#countdown-timer .content p.output.time-actual {
    width:90%;
    background-color: white;
    border-radius:10px;
    font-size:80px;
}



/*-----------------------------------------*/

/*---------------STOPWATCH----------------*/

#stopwatch{

    order:1;
    display:;
    color: rgb(240,189,15);
}

#stopwatch .controls{
    margin-bottom: 20px;
    margin-top: 15px;
    color:rgba(204,143,50,0.9);
    background-color: 	rgb(240,189,15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top:17px;
    padding-bottom:45px;

    box-shadow: 5px 5px 0px rgba(240,189,15,0.5);
}

#stopwatch .input{
    color:	rgb(240,189,15);
    font-size:100px;
}



#stopwatch button{
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255,255,255,0.2);
    font-weight:700;
    color:white;
    border:2px solid rgba(255,255,255,0);

}

#stopwatch button[disabled] {
    background-color:rgba(255,255,255,0.45);
    cursor: default;
}

#stopwatch button:hover:not([disabled]) {
    border:2px solid beige;
}

#stopwatch button:active:not([disabled]) {
  animation:0.5s click_animation;
}

@keyframes click_animation {
  from { font-size:28px; }
  to { font-size:15px; }
}

#stopwatch .output{
    position: relative;
    background-color:rgb(240,189,15);
    padding:4px;
    color:white;
    border-radius: 3px;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom: 5px;

}

#stopwatch .output.ng-enter{
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;
    position:absolute;
    top:-100px;
    z-index:-1;
  opacity:0;
}

#stopwatch .output.ng-enter.ng-enter-active {
    z-index:1;
  opacity:1;
    top:0px;
    position:relative;
}

#stopwatch .output.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*------------------------------------------*/

/*-----------ALARM---------------------*/

#alarm{

    order:2;
    display:none;
    color:#3d88dc;

}

#alarm .input{
    margin-bottom:10px;
}



#alarm .enterTime{
    width:95px;
    font-size:70px;
    padding:10px;

}

#alarm #dayperiod .enterTime{
    padding-top:19px;
    vertical-align: middle;
    font-size: 55px;

}



#alarm button {
    margin:3px;
    background-color: rgba(212, 229, 247,0.35);
    width:45px;
    margin-bottom: 5px;
    height:45px;
    border-radius:10px;
}

#alarm button.inc-icon{
    margin-bottom: 1px;
}

#alarm button.dec-icon{
    margin-top: 2px;
}

#alarm button .material-icons {
    font-size:24px;
    color:#3d88dc;
}

#alarm button:hover{
    transition: all 0.2s;
    background-color: #bfd8f3;
    color:white;
}


#alarm .time-fields{
    display: flex;
    flex-flow:column nowrap;
}

#alarm div.time-fields #hours,#minutes,#dayperiod {
    font-size:90px;
    display: flex;
    flex-flow:row nowrap;

}

#alarm .change-set-time{
    display: flex;
    flex-flow: column nowrap;
}

#alarm .content{
    margin-top:10px;
    background-color: #3d88dc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 5px 5px 0px rgba(169, 203, 239,0.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#alarm .content #currentTime{
    background-color: white;
    letter-spacing: 0px;
    border-radius:30px;
    font-size:20px;
    padding:5px;
    width:300px;
    margin:10px;
    margin-top:20px;
}
#alarm .content button{

    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size:28px;
    color:rgb(169, 203, 239);
    border-radius: 2px;
    margin:20px;
    margin-bottom:20px;
    width:195px;
    color:white;
    height:50px;
    border:3px solid #3d88dc;
}

#alarm .content button:hover{
    background-color:rgba(212, 229, 247,0.35);
    border:3px solid white;
}
#alarm .content button span{
    padding:10px;
    margin:10px;

}

#alarm .output{
    -webkit-transition:0.2s linear all;
    -moz-transition:0.2s linear all;
    -o-transition:0.2s linear all;
    transition:0.2s linear all;
    background-color:rgb(126, 177, 231);
    color:white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding:4px;
    margin-top:15px;
    margin-bottom:0px;
}

#alarm .output.ng-enter{

    position:absolute;
    top:-100px;
    z-index:-1;
  opacity:0;
}

#alarm .output.ng-enter.ng-enter-active {
    z-index:1;
  opacity:1;
    top:0px;
    position:relative;
}

#alarm .output.ng-leave{
    opacity:1;
}

#alarm .output.ng-leave.ng-leave-active {
    opacity:0;
}

#alarm .output button{
    margin:0px;
    height:30px;
}

#alarm .output .time{
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin:0px;
}

#alarm .output .time span{
    color:#277ad8;
    margin-right:60px;
}

#alarm button.alarm{
    color:white;
    background-color: inherit;
    border-radius:0px;
    margin-left:20%;
}

#alarm button.alarm-ringing{
    animation-name: ring;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes ring {
    25%  {transform:rotate(-15deg);}
    75%  {transform:rotate(15deg);}
}

#alarm .output .cancel{
    margin-left:2%;
    margin-right:1%;
    font-family: 'Oswald', sans-serif;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    color:white;
    letter-spacing: 1px;
}

#alarm button.delete-icon{
    transition:all 0.3s;
    color:#ff0000;
    padding:0px;
    margin-right:3%;
    font-size:15px;
    font-weight:700;
    display:inline-block;
    border-radius:2px;
    background-color:inherit;
    height:15px;
    width:15px;
    text-align: center;

}

#alarm button.delete-icon:hover {
    color:rgba(255,255,255,0.6);
    background-color: #cc0000;
    box-shadow:2px 2px rgba(204, 0, 0, 0.5);
}

#stopwatch .output,.alarms-list{

    position: relative;
    background-color:rgb(240,189,15);
    padding:4px;
    color:white;
    border-radius: 3px;
    margin-bottom: 5px;

}

/*------------------------------------------*/
